@using ASP.NET_MVC_9
@using ASP.NET_MVC_9.TagHelpers
@using ASP.NET_MVC_9.Models

@model IEnumerable<ASP.NET_MVC_9.Data.Entity.Cat>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, ASP.NET_MVC_9

@{
	ViewData["Title"] = "List";
}

<customtag>testtesttest
</customtag>

<custom-filter>
	testtesttest
</custom-filter>

<h1>View</h1>



<p>
	<a asp-action="Create">Create New</a>
</p>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.CatName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CatGender)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsVacinated)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Image)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Breed)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.CatName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CatGender)
				</td>
				<td>
					@(item.IsVacinated == true ? "Yes" : "No")
				</td>
				<td>
					<img src="data:image/*;base64,@(Convert.ToBase64String(item.Image))" style="height: 300px;" alt="@item.CatName">
				</td>
				<td>
					 

					<custom-filter breedname="@item.Breed.BreedName" action="List">
						@Html.DisplayFor(modelItem => item.Breed.BreedName)
					</custom-filter>
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
